[Unit]
Description=Soft IOC for simulation of the BO beam charge
After=multi-user.target

[Service]
Group=fac
User=fac
Type=simple
WorkingDirectory=/home/fac/sirius-iocs
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /tmp/bashrc-vaca-ioc-bo-beamcharge'
EnvironmentFile=-/tmp/bashrc-vaca-ioc-bo-beamcharge
ExecStart=/usr/local/bin/vaca-ioc-bo-beamcharge.py
